<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Document</title>
    {% endblock %}
</head>
<body>
    <nav>
        <a href="{% url 'admin:index' %}">Admin Page</a>
        <a href="{% url 'registration' %}">Registration Page</a>
        <a href="{% url 'home' %}">HomePage</a>
        {% if user.is_authenticated %}
        <a href="{% url 'user_logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'user_login' %}">login</a>
        {% endif %}
        {% block body_block %}
        {% endblock %}
    </nav>  
</body>
</html>